.bg-header{
	.bg-header-wrapper{
		background-color: #f3f3f3;
		padding: 10px 0px;
		.header-menu-top{
			float: right;
			.ul-menu-top{
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				li{
					display: inline-block;
					a{
						font-size: 12px;
						display: block;
						border-right: 1px solid #999999;
						padding: 0px 10px;
						color: #999999;
						@media(max-width: 360px){
							padding: 0 5px;
						}
						@media(max-width: 320px){
							padding: 0 4px;
						}
					}
					&:last-child{
						a{
							border-right: 0;
						}
					}
				}
			}
		}
	}
	.tim-kiem-sp{
		position: relative;
		margin-top: 45px;
		width: 566px;
		float: left;
		@media(max-width: 1024px){
			width:453px;
		}
		@media(max-width: 992px){
			width:293px;
		}
		@media(max-width: 740px){
			width:350px;
		}
		@media(max-width: 576px){
			width: 225px;
		}
		@media(max-width: 375px){
			width: 185px;
		}
		@media(max-width: 360px){
			width: 170px;
		}
		@media(max-width: 320px){
			width: 130px;
		}
		@media(max-width: 240px){
			width: 100%;
		}
		.tim-kiem-txt{
			input{
				outline: 0;
				border: 1px solid #ddd;
				padding: 15px 10px;
				width: 100%;
				font-size: 12px;
			}
		}
		.btn-search-product{
			position: absolute;
			right: 12px;
			top: 0;
			padding: 14px 0px;
			a{
				display: block;
			}
		}
	}
	.shopping-cart{
		text-align: center;
		float: left;
		margin-top: 45px;
		margin-left: 5px;
		@media(max-width: 240px){
			float: left;
			margin-top: 10px;
			margin-left: 0;
			width: 100%;
		}
		a{
			color: #fff;
			padding:14px 15px;
			background:#F47920;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: block;
			@include p-web(transition,all 0.5s);
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				background: #0084ff;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
	.logo{
		margin-top: 30px;
		@media(max-width: 992px){
			margin-top:50px;
		}
	}
	.bg-menu{
		background-color: #444444;
		margin-top: 30px;
		@media(max-width: 992px){
			display: none;
		}
		.bg-xe-menu{
			background-color: #F47920;
			color: #fff;
			padding: 12px 50px;
			font-size: 15px;
			width: 100%;
			@media(max-width: 1024px){
				padding: 12px 20px;
			}
			.danhmucsach{
				text-transform: uppercase;
				margin-left: 10px;
			}
		}
		.bg-xe-menu-trang-con{
			background-color: #F47920;
			color: #fff;
			padding: 12px 20px;
			font-size: 15px;
			width: 100%;
			position: relative;
			@media(max-width: 1024px){
				padding: 12px 5px;
			}
			.danhmucsach{
				text-transform: uppercase;
				margin-left: 30px;
			}
			.plust{
				margin-left: 20px;
				@media(max-width: 1024px){
					margin-left: 10px;
				}
				a{
					color: #fff;
				}
			}
			.dm-menu-sach-trang-con{
				background-color: #fff;
				width: 100%;
				position: absolute;
				left: 0;
				top: 46px;
				z-index: 2;
				display: none;
				.cateprodhorizontalright{
					list-style: none;
					padding-left: 0;
					border-left: 1px solid #f3f3f3;
					border-right: 1px solid #f3f3f3;
					li{
						position: relative;
						a{
							display: block;
							position: relative;
							padding: 5px 20px;
							border-bottom: 1px solid #f3f3f3;
							font-size: 14px;
							@media(max-width: 1024px){
								font-size: 11px;
							}
							@media(max-width: 992px){
								font-size: 14px;
							}
							.span-fa-caret-left{
								margin-right: 10px;
							}
							.span-fa-caret-down{
								position: absolute;
								top: 10px;
								right: 5px;
								font-size: 10px;
							}
						}
						ul{
							display: none;
							border-right: 1px solid #f3f3f3;
							list-style: none;
							background-color: #fff;
							position: absolute;
							padding-left: 0;
							left: 254px;
							top: 0;
							z-index: 2;
							width: 100%;
							@media(max-width: 1204px){
								left: 210px;
							}
							li{
								&:first-child{
									a{
										border-top: 1px solid #f3f3f3;
									}
								}
							}
						}
						&:hover{
							ul{
								display: block;
								@media(max-width: 992px){
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.ddsmoothmenu{
			width: 580px;
			float: left;
			@media(max-width: 1024px){
				width: 520px;
			}
		}
		.hotline-bg{
			float: right;
			background-color: #F47920;
			padding: 8px 20px;
			a{
				color: #fff;
				font-family: $f_bold;
			}
		}
	}
	.mobile-navbar{
		display: none;
		@media(max-width: 992px){
			display: block;
			margin-top: 40px;
		}
		.mobile-menu{
			list-style: none;
			padding-left: 0;
			li{
				a{
					color: #fff;
					display: block;
					padding: 10px 10px;
					text-transform: uppercase;
				}
			}
		}
	}
}
.dm-menu-sach{
	background-color: #fff;
	width: 100%;
	.cateprodhorizontalright{
		list-style: none;
		padding-left: 0;
		border-left: 1px solid #f3f3f3;
		border-right: 1px solid #f3f3f3;
		li{
			position: relative;
			a{
				display: block;
				position: relative;
				padding: 5px 20px;
				border-bottom: 1px solid #f3f3f3;
				font-size: 14px;
				@media(max-width: 1024px){
					font-size: 11px;
				}
				@media(max-width: 992px){
					font-size: 14px;
				}
				.span-fa-caret-left{
					margin-right: 10px;
				}
				.span-fa-caret-down{
					position: absolute;
					top: 10px;
					right: 5px;
					font-size: 10px;
				}
			}
			ul{
				display: none;
				border-right: 1px solid #f3f3f3;
				list-style: none;
				background-color: #fff;
				position: absolute;
				padding-left: 0;
				left: 254px;
				top: 0;
				z-index: 2;
				width: 100%;
				@media(max-width: 1204px){
					left: 210px;
				}
				li{
					&:first-child{
						a{
							border-top: 1px solid #f3f3f3;
						}
					}
				}
			}
			&:hover{
				ul{
					display: block;
					@media(max-width: 992px){
						display: none;
					}
				}
			}
		}
	}
}

.giam-gia-dac-biet{
	background-color: #f3f3f3;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: $f_bold;
	@media(max-width: 1024px){
		font-size: 12px;
	}
	@media(max-width: 992px){
		font-size: 14px;
	}
}
.box-product{
	border:1px solid #f3f3f3;
	.box-sso{
		position: relative;
		.a-overlay{
			padding: 20px 0px;
			position: relative;
			display: block;
			overflow: hidden;
			.percent-sale{
				position: absolute;
				top: 5px;
				right: 5px;
				background-color: #F47920;
				padding: 10px 7px;
				border-radius:21px;
				.box-cent-sale{
					border-top: 1px solid #fff;
					border-bottom: 1px solid #fff;
					color: #fff;
					font-size: 13px;
				}
			}
			.box-img{
				width: 140px;
				margin: auto;
				box-shadow: -7px 7px 11px -3px #9e9e9e;
			}
			.overlay{
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background:#44444463;
				opacity:0;
				@include p-web(transition,all 900ms);
			}
		}
		.a-add-to-cart{
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.a-bg-add-to-cart{
				background-color: #444;
				color: #fff;
				padding: 5px 5px;
				@include p-web(transition,all 900ms);
				.a-add-mua-ngay{
					text-transform: uppercase;
					font-family: $f_light;
				}
			}
		}
	}
	.box-product-info{
		border-top: 1px solid #f3f3f3;
		padding: 0px 20px 20px 20px;
		.box-product-title{
			margin-top: 10px;
			line-height: 20px;
			min-height: 50px;
			@media(max-width: 992px){
				min-height: auto;
			}
			a{
				font-size: 13px;
				font-family: $f_light;
			}
		}
		.box-product-price{
			margin-top: 15px;
			.box-pr-price-1{
				float: left;
				line-height: 20px;
			}
			.box-pr-price-2{
				float: left;
				background-color: #F47920;
				color: #fff;
				margin-left: 10px;
				padding: 0px 5px;
				font-size: 13px;
				@media(max-width: 1024px){
					margin-left: 5px;
				}
			}
		}
		.box-product-price-through-margin{
			margin-top:5px;
			.bx-pr-pr-through{
				text-decoration: line-through;
				color: #a2a2a2;
				font-size: 12px;
			}
		}
		.danh-gia-bang-ngoi-sao{
			.ngoi-sao{
				float: left;
				span{
					margin-left: 1px;
					color: #fc3;
					font-size: 10px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
			.number-user{
				float: left;
				margin-left: 10px;
				margin-top: 2px;
			}
			.box-product-user{
				float: left;
				margin-left: 10px;
				margin-top: 2px;
			}
		}
	}
	&:hover{
		.box-sso{
			.a-overlay{
				.overlay{
					opacity:1;
				}
			}
			.a-add-to-cart{
				opacity: 1;
				&:hover{
					.a-bg-add-to-cart{
						background-color: #F47920;
					}
				}
			}
		}
	}
}
.bx-pr-duct{
	margin-top: 20px;
}
.bx-pr-bottom{
	margin-bottom: 20px;
}
.box-sach-moi{
	padding-top: 20px;
	.owl-carousel-new-product{
		.owl-prev {
			position: absolute;
			right: 20px;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right: 0;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
	}
}
.taka-comment{
	margin-top: 20px;
	.owl-carousel-comment{
		.owl-prev {
			position: absolute;
			right: 20px;
			top: -38px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right: 0;
			top: -38px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
	}
}
.sach-tai-ban-hang-thang{
	margin-top: 20px;
}
.sach-tai-ban-hang-thang-product-detail{
	margin-top: 15px;
}
.sach-tai-ban-hang-thang-box{
	border: 1px solid #f3f3f3;
	padding: 20px 20px;
	margin-top: 20px;
	@media(max-width: 1024px){
		padding: 20px 21px;
	}
	.owl-carousel-sach-tai-ban-hang-thang{
		.owl-prev {
			position: absolute;
			right:0px;
			top: -78px;
			color: #999;
			background:transparent;
			@media(max-width: 1024px){
				right: -15px;
			}
			@media(max-width: 992px){
				right: 0;
			}
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right:-25px;
			top: -78px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.item-sbc{
			margin-bottom: 20px;
			border-bottom: 1px solid #f3f3f3;
			padding-bottom: 20px;
			.a-sbc{
				display: block;
				padding: 5px;
				border: 1px solid #f3f3f3;
			}
			.sbc-title{
				line-height: 15px;
				@media(max-width: 576px){
					margin-top: 10px;
				}
				a{
					font-size: 13px;
					font-family: $f_light;
				}
			}
			.ngoi-sao-sp-tt{
				margin-top: 5px;
				span{
					margin-left: 1px;
					color: #fc3;
					font-size: 10px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
			.spbc-price{
				color: #F47920;
				font-family: $f_bold;
				margin-top: 10px;
			}
			.spbc-price-line-through{
				text-decoration: line-through;
				color: #a2a2a2;
				font-size: 12px;
				margin-top: 10px;
			}
		}
	}
}
.y-kien-khach-hang-box{
	border:1px solid #f3f3f3;
	padding: 20px;
	margin-top: 20px;
	.y-kien-avatar{
		width: 102px;
		margin-left: auto;
		margin-right: auto;
	}
	.y-kien-ten-kh{
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.y-kien-comment{
		margin-top: 10px;
		text-align: center;
		font-size: 13px;
		color: #888888;
	}
	.bix-comment{
		color: #444;
		text-align: justify;
		font-size: 12px;
		margin-top: 10px;
		font-style: italic;
		&:before{
			content: "\f10d";
			font-family: "Font Awesome 5 Free";
			font-size: 18px;
			font-weight: bold;
			display: block;
		}
		&:after{
			content: "\f10e";
			font-family: "Font Awesome 5 Free";
			font-size: 18px;
			font-weight: bold;
			text-align: right;
			display: block;
		}
	}
}
.box-book-sap-xuat-ban{
	.owl-carousel-sach-sap-xuat-ban{
		@media(max-width: 740px){
			margin-top: 40px;
		}
		.sach-sap-xuat-ban-box{
			border-bottom: 1px solid #f3f3f3;
			margin-bottom: 20px;
			padding-bottom: 20px;
			.ssxb-img{
				border:1px solid #f3f3f3 ;
				padding: 5px;
			}
			.ssxp-title{
				line-height: 20px;
				@media(max-width: 992px){
					line-height: 15px;
				}
				@media(max-width: 576px){
					margin-top: 10px;
				}
				a{
					font-size: 15px;
				}
			}
			.ngoi-sao-sp-stbht{
				margin-top: 5px;
				span{
					margin-left: 1px;
					color: #fc3;
					font-size: 10px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
			.ssxp-price{
				color: #F47920;
				font-family: $f_bold;
				margin-top: 10px;
				font-size: 13px;
			}
			.ssxp-price-line-through{
				text-decoration: line-through;
				color: #a2a2a2;
				font-size: 12px;
				margin-top: 10px;
			}
		}
		.owl-prev {
			position: absolute;
			right: 20px;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right: 0;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
	}
}
.goc-tuyen-dung-box{
	padding-top:20px;
	.owl-carousel-tuyen-dung{
		.owl-prev {
			position: absolute;
			right: 20px;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right: 0;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.gtd-box{
			border: 1px solid #efefef;
			padding-bottom: 10px;
			.bx-gtd-info{
				padding: 0px 20px;
				.bx-gtd-title{
					line-height: 20px;
					margin-top: 10px;
					a{
						font-size: 14px;
					}
				}
				.bx-gtd-date-post{
					margin-top: 10px;
				}
				.bx-gtd-readmore{
					margin-top: 10px;
					text-align: left;
					a{
						color: #fff;
						padding:5px 10px;
						background:#F47920;
						text-transform: uppercase;
						position: relative;
						overflow: hidden;
						z-index: 1;
						display: inline-block;
						@include p-web(transition,all 0.5s);
						&:hover{
							&:before{
								left: 0;
							}
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							background: #0084ff;
							z-index: -1;
							@include p-web(transition, all 0.5s);
						}
					}
				}
			}
		}
	}
}
.brand-box{
	margin-top: 20px;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	.owl-carousel-brand{
		.owl-prev {
			position: absolute;
			right: 20px;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right: 0;
			top: -58px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.brand-row{
			.brand-item{
				float: left;
				width: 134px;
				border-left: 1px solid #efefef;
				border-top:1px solid #efefef;
				padding: 5px;
				@media(max-width: 1024px){
					width: 112px;
				}
				@media(max-width: 992px){
					width: 82px;
				}
				@media(max-width: 740px){
					width: 127px;
				}
				@media(max-width: 576px){
					width: 96px;
				}
				@media(max-width: 375px){
					width: 86px;
				}
				@media(max-width: 360px){
					width:82px;
				}
				@media(max-width: 320px){
					width:72px;
				}
				@media(max-width: 240px){
					width:52px;
				}
			}
		}
	}
}
.gia-giam-dac-biet{
	@media(max-width: 992px){
		margin-top: 20px;
	}
}
.banner22{
	@media(max-width: 576px){
		margin-top: 20px;
	}
}
.content-bottom{
	background:#313131;
	padding-bottom: 40px;
	.box-logo{
		margin-top: 40px;
		.company-info{
			padding-left: 0;
			margin-bottom: 0;
			margin-top: 20px;
			li{
				.icon-info{
					font-size: 15px;
					width: 37px;
					height: 37px;
					text-align: center;
					line-height: 37px;
					border: 2px solid #fff;
					border-radius: 100%;
					margin-right: 10px;
					color: #fff;
					display: inline-block;
				}
				.company-text-info{
					color: #989898;
					font-family: $f_light;
					font-size: 12px;
				}
				.company-text-info-2{
					a{
						color: #989898;
						font-family: $f_light;
						font-size: 12px;
					}
				}
			}
		}
	}
	.content-bottom-footer-title{
		color: #fff;
		text-transform: uppercase;
		font-size: 15px;
		margin-top: 40px;
		font-family: $f_bold;
	}
	.content-bottom-menu{
		padding-left: 0;
		margin-top: 25px;
		margin-bottom: 0;
		li{
			a{
				color: #989898;
				display: block;
				padding: 5px 0;
				font-size: 13px;
				font-family: $f_light;
				.cevron-right{
					font-size: 10px;
					margin-right: 10px;
				}
			}
		}
	}
	.dieu-khoan-box{
		float: left;
		@media(max-width: 360px){
			width: 100%;
		}
	}
	.fanpage{
		float: left;
		margin-left: 20px;
		@media(max-width: 360px){
			width: 100%;
			margin-left: 0;
		}
		.facebook-fp{
			margin-top: 20px;
		}
	}
}
.bg-thoi{
	background-color: #1a1a1a;
	padding: 25px 0px;
	.dang-ky-ngay-box{
		position: relative;
		width: 333px;
		@media(max-width: 320px){
			width: 267px;
		}
		@media(max-width: 240px){
			width: 200px;
		}
		.dang-ky-ngay-txt{
			input{
				background: #444444;
				border: 0;
				outline: 0;
				padding: 7px 10px;
				color: #fff;
				width: 84%;
			}
		}
		.dang-ky-ngay-btn{
			position: absolute;
			right: 0;
			top: 0;
			a{
				display: block;
				color: #fff;
				padding: 8px 15px;
				text-transform: uppercase;
				background: #444444;
				font-size: 13px;
			}
		}
		.ajax-box{
			position: absolute;
			right: -55px;
			top: 30px;
		}
	}
	.ban-quyen-footer{
		color: #666666;
		font-size: 12px;
		margin-top: 10px;
		text-align: center;
		@media(max-width: 1024px){
			font-size: 10px;
			margin-left: 15px;
		}
		@media(max-width: 992px){
			text-align: left;
			margin-left: 0px;
		}
	}
	.iconsocialbg{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		@media(max-width: 992px){
			margin-top: 10px;
		}
		li{
			display: inline-block;
			a{
				background: #444444;
				display: block;
				padding: 10px 17px;
				text-align: center;
				color: #fff;
				@media(max-width: 1024px){
					padding: 10px 15px;
				}
				@media(max-width: 240px){
					padding: 5px 10px;
				}
				&:hover{
					background:#428bca;
				}
			}
		}
	}
}
.breadcrumbs{
	background-color: #f2f2f2;
	padding: 10px 20px;
	margin-top: 15px;
}
.box-tin-moi{
	margin-top: 15px;
	.tin-moi{
		background-color: #f3f3f3;
		font-size: 14px;
		padding: 10px 20px;
		text-transform: uppercase;
		font-family: $f_bold;
	}
	.bx-tm{
		margin-top: 20px;
		.box-one-tin-moi{
			margin-bottom: 20px;
			.box-tin-moi-img{
				float: left;
				width: 40%;
			}
			.box-tin-moi-info{
				float: left;
				margin-left: 10px;
				width: 55%;
				.box-tin-moi-title{
					line-height: 12px;
					a{
						font-size: 13px;
						font-family: $f_light;
					}
				}
				.box-tin-moi-date{
					font-size: 12px;
					color: #e66430;
					margin-top: 5px;
				}
			}
		}
	}
}
.box-ads{
	display:block;
	position:relative;
	text-align:center;
	a{
		img{
			max-width:100%;
		}
		&:before{
			height:100%;
			border-style:solid;
			border-width:10px;
			border-color:rgba(255,255,255,0.45);
			background:rgba(255,255,255,0.15);
			content:"";
			position:absolute;
			transform:scale(0);
			transition-duration:0.3s;
			transition-property:transform;
			width:100%;
			transition-timing-function:ease-out;
			z-index:-1
		}
		&:hover{
			&:before{
				transform:scale(1);
				z-index:1
			}
		}
	}
}
.post-title{
	font-size: 18px;
	line-height: 20px;
	margin-top: 15px;
	@media(max-width: 1024px){
		margin-top: 30px;
	}
}
.post-user-date{
	margin-top: 15px;
	color:#e66430;
	font-family: $f_light;
	font-size: 13px;
}
.post-excerpt{
	margin-top: 20px;
	text-align: justify;
}
.post-content{
	margin-top: 20px;
	text-align: justify;
}
.txnnhat-tuan{
	background-color: #f9f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
	.tin-xem-nhieu-nhat-tuan{
		font-size: 15px;
		text-transform: uppercase;
	}
	.box-tnntuan{
		margin-bottom: 20px;
		.tin-xem-nhieu-title{
			@media(max-width: 576px){
				margin-top: 10px;
			}
			line-height: 15px;
			a{
				font-size: 13px;
				font-family: $f_bold;
			}
		}
		.tin-xem-nhieu-date-post{
			font-family: $f_light;
			font-size: 12px;
		}
	}
}
.category-box{
	margin-top: 15px;
	margin-bottom: 15px;
	.category-post{
		margin-bottom: 30px;
		.category-post-title{
			line-height: 15px;
			margin-top: 15px;
			a{
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		.category-post-user{
			margin-top: 10px;
			color: #F47920;
		}
		.category-post-excerpt{
			margin-top: 10px;
			text-align: justify;
			font-size: 12px;
			font-family: $f_light;
		}
	}
}
.lh-voi-chung-toi{
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 40px;
}
.frm-contact{
	margin-top: 30px;
	.ck-contact{
		margin-top: 5px;
		input{
			border:1px solid #cacaca;
			border-radius:0;
			outline: 0;
		}
		textarea{
			border:1px solid #cacaca;
			border-radius:0;
			outline: 0;
		}
	}
	.ck-submit{
		margin-top: 10px;
		a{
			color: #fff;
			padding:10px 20px;
			background :#F47920;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: block;
			float: left;
			@include p-web(transition,all 0.5s);
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				background: #0075a1;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
}
.logo-contact{
	margin-top: 40px;
	width: 215px;
}
.contact-intro{
	text-align: justify;
	margin-top: 10px;
}
.contact-info{
	.icon-fontawesome{
		color: #F47920;
	}
}
.frm-category-za{
	margin-top: 15px;
	.category-header{
		background-color: #f3f3f3;
		font-size: 14px;
		padding: 10px 20px;
		text-transform: uppercase;
		font-family: $f_bold;
	}
	.za-category-wrapper{
		margin-top: 15px;
	}
}
.doreco{
	margin-top: 15px;
	border:1px solid #eeeeee;
	padding:10px 20px 10px 20px;
	.main-category{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li{
			a{
				display: block;
				padding: 5px 0px;
				font-family: $f_bold;
			}
			ul{
				list-style: none;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0;
				li{
					a{
						border-top: 1px solid #eeeeee;
						font-family: $f_light;
						font-size: 12px;
					}
				}
			}
		}
	}
	.khoang-gia{
		display: block;
		padding: 5px 0px;
		font-family: $f_bold;
	}
}
.doreco-product-detail{
	margin-top: 15px;
	border:1px solid #eeeeee;
	padding:10px 20px 10px 20px;
	.main-category{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		>li{
			position: relative;
			>a{
				display: block;
				padding: 5px 0px;
				font-family: $f_bold;
				border-top: 1px solid #eeeeee;
			}
			.toggle_r{
				position: absolute;
				top: 5px;
				right: -5px;
				z-index: 2;
				width: 20px;
				height: 25px;
				cursor: pointer;
				font-size:10px;
				outline: none;
				color: #313131;
				background: transparent;
				border: 0;
			}
			&:first-child{
				>a{
					border-top:0;
				}
			}
			>ul{
				list-style: none;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0;
				display: none;
				>li{
					>a{
						display: block;
						border-top: 1px solid #eeeeee;
						font-family: $f_light;
						font-size: 12px;
						padding: 5px 0px;
						&:before{
							content:"\f105";
							font-family: "Font Awesome 5 Free";
							font-weight: bold;
							margin-right: 5px;
						}
					}
					>button{
						display: none;
					}
				}
			}
		}
	}
}
.frm-price{
	margin-top: 10px;
	.sidebar-content-inner{
		margin-top: 10px;
		#amount{
			color: #333;
			border: 0;
		}
	}
	.btn-submit{
		margin-top: 10px;
		a{
			color: #fff;
			padding:10px 20px !important;
			background :#F47920;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: block;
			float: left;
			@include p-web(transition,all 0.5s);
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				background: #0075a1;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
}
.box-rox{
	.box-product-detail-image{
		border:1px solid #ebebeb;
		padding: 10px;
		margin-top: 15px;
	}
	.product-detail-title{
		margin-top: 15px;
		font-size: 20px;
		font-family: $f_bold;
	}
	.product-detail-info{
		margin-top: 10px;
		.product-detail-info-left{
			color: #999;
			font-size: 13px;
			font-family: $f_bold;
		}
		.product-detail-info-right{
			color: #F47920;
			font-family: $f_light;
			font-size: 13px;
		}
		.product-detail-info-koala{
			color: #999;
			font-family: $f_light;
			font-size: 13px;
			text-decoration: line-through;
		}
		.product-detail-info-gia-da-giam{
			color: #F47920;
			font-family: $f_bold;
			font-size: 15px;
		}
		.product-detail-info-gia-tiet-kiem{
			color: #999;
			font-family: $f_light;
			font-size: 15px;
		}
	}
	.product-detail-excerpt{
		margin-top: 20px;
		text-align: justify;
		font-size: 12px;
		font-family: $f_light;
	}
	.product-detail-dat-mua-ngay{
		margin-top: 20px;
		.txt-slg{
			float: left;
			width: 10%;
			input{
				border: 1px solid #f2f2f2;
				width: 100%;
				padding: 9px 5px;
				text-align: center;
			}
		}
		.btn-mua-ngay{
			float: left;
			margin-left: 10px;
			a{
				color: #fff;
				padding:10px 20px !important;
				background :#F47920;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;
				display: block;
				@include p-web(transition,all 0.5s);
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;
					width: 100%;
					height: 100%;
					background: #0075a1;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}
	.dv-km{
		font-family: $f_bold;
		font-size: 14px;
		margin-top: 20px;
	}
	.ul-dv-km{
		margin-top: 10px;
		ul{
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
			li{
				font-size: 12px;
				font-family: $f_light;
				padding: 5px 20px;
				background-image: url('../images/tick.png');
				background-repeat: no-repeat;
				background-position: left center;
				a{
					color: #F47920;
				}
			}
		}
	}
	.product-detail-gioi-thieu-so-bo{
		color: #F47920;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 40px;
		font-family: $f_bold;
		border-bottom: 1px solid #F47920;
		display: inline-block;
		padding-bottom: 10px;
	}
	.box-product-detail-intro{
		padding: 20px;
		border:1px solid #f3f3f3;
		margin-top: 20px;
		text-align: justify;
	}
}
.product-detail-social{
	margin-top: 20px;
	.social-box{
		float:left;
		margin-left:5px;
		&:first-child{
			margin-left: 0;
		}
		a{
			color:#666;
			padding:5px 10px;
			background :#f1f1f1;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;
			display: block;
			font-size: 10px;
			@include p-web(transition,all 0.5s);
			&:hover{
				&:before{
					left: 0;
				}
				color: #fff;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				background: #F47920;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
}
.tara-giam-gia-dac-biet{
	.owl-carousel-sach-giam-gia-dac-biet{
		.owl-prev {
			position: absolute;
			right:20px;
			top: -37px;
			color: #999;
			background:transparent;
			@media(max-width: 1024px){
				right: -15px;
			}
			@media(max-width: 992px){
				right: 0;
			}
			&:hover{
				background:transparent;
				color: #999;
			}
		}
		.owl-next {
			position: absolute;
			right:3px;
			top: -37px;
			color: #999;
			background:transparent;
			&:hover{
				background:transparent;
				color: #999;
			}
		}
	}
}
