.container-header{
	margin-top: 20px;
	.header-box{
		border-top: solid 2px #ccc;
		border-left: solid 2px #cccccc;
		border-right: solid 2px #cccccc;
		padding: 110px 0px;
		background-image: url(../images/grass.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: relative;
		.box-img-header{
			width: 25%;
			position: absolute;
			top: 60px;
			left: 40px;
			@media(max-width: 992px){
				top: 80px;
			}
			@media(max-width: 740px){
				width: 25%;
				top: 80px;
				left: 10px;
			}
			@media(max-width: 375px){
				width: 100%;
				top: 10px;
				left: 0px;
			}
		}
		.box-search{
			position: absolute;
			right: 40px;
			top: 70px;
			width: 25%;
			@media(max-width: 992px){
				width: 45%;
			}
			@media(max-width: 576px){
				width: 60%;
			}
			@media(max-width: 375px){
				width: 100%;
			}
			@media(max-width: 240px){
				width:115%;
			}
			.wishlist{
				position: absolute;
				top: 0;
				right: 0;
				@media(max-width: 576px){
					width: 47%;
				}
				@media(max-width: 375px){
					width: 55%;
					top: 60px;
				}
				@media(max-width: 240px){
					top: 30px;
				}
				.tara-sign-in{
					display: inline-block;
				}
				.cart-header{
					display: inline-block;
					@media(max-width: 240px){
						margin-top: 10px;
					}
					a{
						display: block;
						background: #F5F7F8;
						border: 1px solid #e3e3e3;
						border-radius: 4px;
						padding: 5px;
					}
				}
			}
			.tim-kiem-sp{
				position: absolute;
				width: 100%;
				top: 35px;
				right: 0px;
				@media(max-width: 576px){
					top: 55px;
					width: 100%;
				}
				@media(max-width: 375px){
					top: 95px;
					width: 75%;
				}
				@media(max-width: 240px){
					display: none;
				}
				.tim-kiem-txt{
					position: absolute;
					top: 5px;
					left: 0;
					width: 100%;
					input{
						outline: 0;
						border: 1px solid #ddd;
						padding: 8px 10px;
						width: 100%;
						font-size: 12px;
						border-radius: 5px;
					}
				}
				.btn-search-product{
					position: absolute;
					right: 0px;
					top: 5px;
					a{
						display: block;
						background-color: #C9E77C;
						padding: 7px 13px;
						border-radius: 0px 5px 5px 0px;
						border-top: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						border-right: 1px solid #ddd;
						overflow: hidden;
						z-index: 1;
						position: relative;
						&:hover{
							&:before{
								left: 0;
							}
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							background: #62B8E2;
							z-index: -1;
							@include p-web(transition, all 0.5s);
						}
					}
				}
			}
		}
	}
	.bradon-box{
		border-left: solid 2px #cccccc;
		border-right: solid 2px #cccccc;
		border-top: 1px solid #000000;
		border-bottom: 1px dotted #000000;
		.ddsmoothmenu{
			@media(max-width: 992px){
				display: none;
			}
		}
		.mobile-navbar{
			display: none;
			@media(max-width: 992px){
				display: block;
			}
			.mobile-menu{
				list-style: none;
				padding: 0 22px;
				li{
					a{
						color: #fff;
						display: block;
						padding: 5px 0px;
					}
				}
			}
		}
	}
}
.calo-box{
	border-left: solid 2px #cccccc;
	border-right: solid 2px #cccccc;
	padding: 0px 55px;
	.breadcrumbs{
		background-color: #f2f2f2;
		padding: 10px 20px;
		margin-top: 15px;
	}
	.box-tin-moi{
		margin-top: 15px;
		.tin-moi{
			background-color: #f3f3f3;
			font-size: 14px;
			padding: 10px 20px;
			text-transform: uppercase;
			font-family: $f_bold;
		}
		.bx-tm{
			margin-top: 20px;
			.box-one-tin-moi{
				margin-bottom: 20px;
				.box-tin-moi-img{
					float: left;
					width: 40%;
				}
				.box-tin-moi-info{
					float: left;
					margin-left: 10px;
					width: 55%;
					.box-tin-moi-title{
						line-height: 12px;
						a{
							font-size: 13px;
							font-family: $f_light;
							color: $mau;
						}
					}
					.box-tin-moi-date{
						font-size: 12px;
						color: $mau_1;
						margin-top: 5px;
					}
				}
			}
		}
	}
	.box-ads{
		display:block;
		position:relative;
		text-align:center;
		a{
			img{
				max-width:100%;
			}
			&:before{
				height:100%;
				border-style:solid;
				border-width:10px;
				border-color:rgba(255,255,255,0.45);
				background:rgba(255,255,255,0.15);
				content:"";
				position:absolute;
				transform:scale(0);
				transition-duration:0.3s;
				transition-property:transform;
				width:100%;
				transition-timing-function:ease-out;
				z-index:-1
			}
			&:hover{
				&:before{
					transform:scale(1);
					z-index:1
				}
			}
		}
	}
	.slide-home-page{
		margin-top: 15px;
		.owl-carousel-banner{
			.owl-prev {
				position: absolute;
				left: 0px;
				top: 150px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					top:115px;
				}
				@media(max-width: 992px){
					top: 70px;
					left: -25px;
				}
				@media(max-width: 992px){
					top: 75px;
				}
				@media(max-width: 576px){
					top: 45px;
				}
				@media(max-width: 375px){
					top: 35px;
					left: -35px;
				}
				@media(max-width: 320px){
					top: 20px;
				}
				@media(max-width: 240px){
					top: -3px;
					left: -40px;
				}
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: 0px;
				top: 150px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					top:115px;
				}
				@media(max-width: 992px){
					top: 70px;
					right: -25px;
				}
				@media(max-width: 992px){
					top: 75px;
				}
				@media(max-width: 576px){
					top: 45px;
				}
				@media(max-width: 375px){
					top: 35px;
					right: -35px;
				}
				@media(max-width: 320px){
					top: 20px;
				}
				@media(max-width: 240px){
					top: -3px;
					right: -40px;
				}
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
	.nutrifood{
		margin-top: 10px;
		.just-arrived{
			border-bottom: 1px dotted #000;
			padding-bottom: 10px;
			a{
				font-size: 20px;
				color: $mau_1;
				.chevron-right-just-arrived{
					margin-left: 10px;
				}
			}
		}
		.ruby-box{
			margin-top: 10px;
			.spring-fling-1{
				a{
					color: $mau_1;
				}
			}
			.spring-fling-2{
				font-size: 12px;
				color: #A0A0A0;
			}
		}
		.just-arrived-2{
			border-top: 1px dotted #000;
			padding-top: 10px;
			margin-top: 10px;
			a{
				font-size: 15px;
				color: $mau_1;
				.chevron-right-just-arrived{
					margin-left: 10px;
				}
			}
		}
	}
	.product-featured{
		margin-top: 60px;
		.box-big-featured-product{
			position: relative;
			.box-featured-title-wrapper{
				text-align: center;
				width: 100%;
				.box-featured-title{
					font-size: 15px;
					text-transform: uppercase;
					color: #000;
					display: inline-block;
					font-family: $f_bold;
					border-bottom: 3px solid #000;
				}
			}
			.box-featured-product{
				border:1px solid black;
				padding: 30px;
			}
		}
		.owl-carousel-featured-product{
			.owl-prev {
				position: absolute;
				right: 35px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: -5px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
	.product-category-box{
		margin-top: 30px;
		.product-guilta{
			border-bottom: 1px solid #000;
			padding-bottom: 40px;
			margin-top: 40px;
			.product-category-guilta-title{
				text-align: center;
				font-size: 35px;
				@media(max-width: 240px){
					font-size: 15px;
				}
			}
			.owl-carousel-featured-product-category{
				margin-top: 20px;
				.magento{
					.magento-title{
						text-align: center;
						a{
							font-size: 15px;
							font-family: $f_bold;
							color :$mau;
						}
					}
				}
				.owl-prev {
					position: absolute;
					left: -35px;
					top: 85px;
					color: #999;
					background: transparent;
					border: solid 1px #ccc;
					border-radius: 0;
					padding: 0px 10px;
					font-size: 30px;
					@media(max-width: 1024px){
						top: 55px;
					}
					@media(max-width: 992px){
						top: 20px;
						left: -50px;
					}
					@media(max-width: 740px){
						top: 5px;
						left: -45px;
					}
					@media(max-width: 576px){
						top: 25px;
					}
					@media(max-width: 375px){
						top: 20px;
					}
					@media(max-width: 320px){
						top: 90px;
					}
					@media(max-width: 240px){
						top: 45px;
					}
				}
				.owl-next {
					position: absolute;
					right: -35px;
					top: 85px;
					color: #999;
					background: transparent;
					border: solid 1px #ccc;
					border-radius: 0;
					padding: 0px 10px;
					font-size: 30px;
					@media(max-width: 1024px){
						top: 55px;
					}
					@media(max-width: 992px){
						top: 20px;
						right: -50px;
					}
					@media(max-width: 740px){
						top: 5px;
						right: -45px;
					}
					@media(max-width: 576px){
						top: 25px;
					}
					@media(max-width: 375px){
						top: 20px;
					}
					@media(max-width: 320px){
						top: 90px;
					}
					@media(max-width: 240px){
						top: 45px;
					}
				}
			}
		}

	}
	.box-videos{
		margin-top: 20px;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
		.sent-bar-video-review{
			text-align: center;
			font-size: 35px;
			@media(max-width: 375px){
				display: none;
			}
		}
		.owl-carousel-featured-videos{
			margin-top: 30px;
			@media(max-width: 375px){
				margin-top: 70px;
			}
			.video-pin-box{
				a{
					display: block;
					position:relative;
					.overlay-youtube{
						background:#00000054;
						position:absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						@include p-web(transition,all 500ms);
					}
					.youtube-icon{
						position:absolute;
						top: 0;
						left: 0;
						display: flex;
						align-items:center;
						justify-content: center;
						width: 100%;
						height: 100%;
						opacity: 0;
						@include p-web(transition,all 500ms);
						.box-youtube-icon{
							width: 48px;
							height: 48px;
						}
					}
					&:hover{
						.overlay-youtube{
							opacity: 1;
						}
						.youtube-icon{
							opacity: 1;
						}
					}
				}
			}
			.owl-prev {
				position: absolute;
				right: 35px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: -5px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
	.box-featured-article{
		margin-top: 20px;
		.box-featured-info{
			border-bottom: 1px dotted #000;
			padding-bottom:20px;
			@media(max-width: 992px){
				margin-top: 10px;
			}
			.box-featured-article-title{
				line-height: 25px;
				a{
					font-size: 30px;
					color: $mau;
					@media(max-width: 576px){
						font-size: 25px;
					}
					@media(max-width: 320px){
						font-size: 20px;
					}
				}
			}
			.box-featured-excerpt{
				text-align: justify;
				margin-top: 20px;
			}
			.box-featured-learn-more{
				margin-top: 20px;
				a{
					font-style: italic;
				}
			}
		}
	}
	.box-single-article{
		.post-title{
			font-size: 18px;
			line-height: 20px;
			margin-top: 15px;
			@media(max-width: 1024px){
				margin-top: 30px;
			}
		}
		.post-user-date{
			margin-top: 15px;
			color:$mau_1;
			font-family: $f_light;
			font-size: 13px;
		}
		.post-excerpt{
			margin-top: 20px;
			text-align: justify;
		}
		.post-content{
			margin-top: 20px;
			text-align: justify;
		}
	}
	.category-box{
		margin-top: 15px;
		margin-bottom: 15px;
		.category-post{
			margin-bottom: 30px;
			.category-post-title{
				line-height: 15px;
				margin-top: 15px;
				a{
					font-size: 14px;
					text-transform: uppercase;
					color: $mau;
				}
			}
			.category-post-user{
				margin-top: 10px;
				color: $mau_1;
			}
			.category-post-excerpt{
				margin-top: 10px;
				text-align: justify;
				font-size: 12px;
				font-family: $f_light;
			}
		}
	}
	.txnnhat-tuan{
		background-color: #f9f9f9;
		padding-top: 20px;
		padding-bottom: 20px;
		.tin-xem-nhieu-nhat-tuan{
			font-size: 15px;
			text-transform: uppercase;
		}
		.box-tnntuan{
			margin-bottom: 20px;
			.tin-xem-nhieu-title{
				@media(max-width: 576px){
					margin-top: 10px;
				}
				line-height: 15px;
				a{
					font-size: 13px;
					color: $mau;
				}
			}
			.tin-xem-nhieu-date-post{
				font-family: $f_light;
				font-size: 12px;
				color: $mau_1;
			}
		}
	}
	.box-contact{
		.lh-voi-chung-toi{
			text-transform: uppercase;
			font-size: 15px;
			margin-top: 40px;
		}
		.frm-contact{
			margin-top: 30px;
			.ck-contact{
				margin-top: 5px;
				input{
					border:1px solid #cacaca;
					border-radius:0;
					outline: 0;
				}
				textarea{
					border:1px solid #cacaca;
					border-radius:0;
					outline: 0;
				}
			}
			.ck-submit{
				margin-top: 10px;
				a{
					color: #fff;
					padding:5px 20px;
					background :$mau_1;
					text-transform: uppercase;
					position: relative;
					overflow: hidden;
					z-index: 1;
					display: block;
					float: left;
					@include p-web(transition,all 0.5s);
					&:hover{
						&:before{
							left: 0;
						}
					}
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 100%;
						width: 100%;
						height: 100%;
						background: #0075a1;
						z-index: -1;
						@include p-web(transition, all 0.5s);
					}
				}
			}
		}
		.logo-contact{
			margin-top: 40px;
			width: 20px;
		}
		.contact-intro{
			text-align: justify;
			margin-top: 10px;
		}
		.contact-info{
			.icon-fontawesome{
				color: $mau_1;
			}
		}
	}
	.frm-category-za{
		margin-top: 15px;
		.category-header{
			background-color: #f3f3f3;
			font-size: 14px;
			padding: 10px 20px;
			text-transform: uppercase;
			font-family: $f_bold;
		}
		.za-category-wrapper{
			margin-top: 15px;
		}
	}
	.doreco{
		margin-top: 15px;
		border:1px solid #eeeeee;
		padding:10px 20px 10px 20px;
		.main-category{
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li{
				a{
					display: block;
					padding: 5px 0px;
					font-family: $f_light;
					color: $mau;
				}
				ul{
					list-style: none;
					padding-left: 10px;
					padding-right: 10px;
					margin-bottom: 0;
					li{
						a{
							border-top: 1px solid #eeeeee;
							font-family: $f_light;
							font-size: 12px;
						}
					}
				}
			}
		}
		.khoang-gia{
			display: block;
			padding: 5px 0px;
			font-family: $f_bold;
		}
	}
	.frm-price{
		margin-top: 10px;
		.sidebar-content-inner{
			margin-top: 10px;
			#amount{
				color: #333;
				border: 0;
			}
		}
		.btn-submit{
			margin-top: 10px;
			a{
				color: #fff;
				padding:5px 15px;
				background :$mau_1;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;
				display: block;
				float: left;
				@include p-web(transition,all 0.5s);
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;
					width: 100%;
					height: 100%;
					background: #0075a1;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}
	.box-product{
		border:1px solid #f3f3f3;
		.box-sso{
			position: relative;
			.a-overlay{
				padding: 20px 0px;
				position: relative;
				display: block;
				overflow: hidden;
				.percent-sale{
					position: absolute;
					top: 5px;
					right: 5px;
					background-color: $mau_1;
					padding: 10px 7px;
					border-radius:21px;
					.box-cent-sale{
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
						color: #fff;
						font-size: 13px;
					}
				}
				.box-img{
					width: 140px;
					margin: auto;
					box-shadow: -7px 7px 11px -3px #9e9e9e;
				}
				.overlay{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background:#44444463;
					opacity:0;
					@include p-web(transition,all 900ms);
				}
			}
			.a-add-to-cart{
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				.a-bg-add-to-cart{
					background-color: #444;
					color: #fff;
					padding: 5px 5px;
					@include p-web(transition,all 900ms);
					.a-add-mua-ngay{
						text-transform: uppercase;
						font-family: $f_light;
					}
				}
			}
		}
		.box-product-info{
			border-top: 1px solid #f3f3f3;
			padding: 0px 20px 20px 20px;
			.box-product-title{
				margin-top: 10px;
				line-height: 20px;
				min-height: 50px;
				@media(max-width: 992px){
					min-height: auto;
				}
				a{
					font-size: 13px;
					font-family: $f_light;
					color: $mau;
				}
			}
			.box-product-price{
				margin-top: 15px;
				.box-pr-price-1{
					float: left;
					line-height: 20px;
				}
				.box-pr-price-2{
					float: left;
					background-color: $mau_1;
					color: #fff;
					margin-left: 10px;
					padding: 0px 5px;
					font-size: 13px;
					@media(max-width: 1024px){
						margin-left: 5px;
					}
				}
			}
			.box-product-price-through-margin{
				margin-top:5px;
				.bx-pr-pr-through{
					text-decoration: line-through;
					color: #a2a2a2;
					font-size: 12px;
				}
			}
			.danh-gia-bang-ngoi-sao{
				.ngoi-sao{
					float: left;
					span{
						margin-left: 1px;
						color: $mau_1;
						font-size: 10px;
						&:first-child{
							margin-left: 0;
						}
					}
				}
				.number-user{
					float: left;
					margin-left: 10px;
					margin-top: 2px;
				}
				.box-product-user{
					float: left;
					margin-left: 10px;
					margin-top: 2px;
				}
			}
		}
		&:hover{
			.box-sso{
				.a-overlay{
					.overlay{
						opacity:1;
					}
				}
				.a-add-to-cart{
					opacity: 1;
					&:hover{
						.a-bg-add-to-cart{
							background-color: $mau_1;
						}
					}
				}
			}
		}
	}
	.box-rox{
		.box-product-detail-image{
			border:1px solid #ebebeb;
			padding: 10px;
			margin-top: 15px;
		}
		.box-product-thumbnail{
			margin-top: 10px;
			.owl-carousel-product-thumbnail{
				.thumbnail-item{
					border:1px solid #ebebeb;
					padding: 5px;
				}
			}
		}
		.box-product-detail-schema{
			.product-detail-title{
				margin-top: 15px;
				font-size: 20px;
				font-family: $f_bold;
			}
			.product-detail-info{
				margin-top: 10px;
				.product-detail-info-left{
					color: #999;
					font-size: 13px;
					font-family: $f_bold;
				}
				.product-detail-info-right{
					color: $mau_1;
					font-family: $f_light;
					font-size: 13px;
				}
				.product-detail-info-koala{
					color: #999;
					font-family: $f_light;
					font-size: 13px;
					text-decoration: line-through;
				}
				.product-detail-info-gia-da-giam{
					color: $mau_1;
					font-family: $f_bold;
					font-size: 15px;
				}
				.product-detail-info-gia-tiet-kiem{
					color: #999;
					font-family: $f_light;
					font-size: 15px;
				}
			}
			.product-detail-excerpt{
				margin-top: 20px;
				text-align: justify;
				font-size: 12px;
				font-family: $f_light;
			}
			.product-detail-dat-mua-ngay{
				margin-top: 20px;
				.txt-slg{
					float: left;
					width: 10%;
					input{
						border: 1px solid #f2f2f2;
						width: 100%;
						padding: 9px 5px;
						text-align: center;
					}
				}
				.btn-mua-ngay{
					float: left;
					margin-left: 10px;
					a{
						color: #fff;
						padding:10px 20px !important;
						background :$mau_1;
						text-transform: uppercase;
						position: relative;
						overflow: hidden;
						z-index: 1;
						display: block;
						@include p-web(transition,all 0.5s);
						&:hover{
							&:before{
								left: 0;
							}
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							background: #0075a1;
							z-index: -1;
							@include p-web(transition, all 0.5s);
						}
					}
				}
			}
			.dv-km{
				font-family: $f_bold;
				font-size: 14px;
				margin-top: 20px;
			}
			.ul-dv-km{
				margin-top: 10px;
				ul{
					padding-left: 0;
					margin-bottom: 0;
					list-style: none;
					li{
						font-size: 12px;
						font-family: $f_light;
						padding: 5px 20px;
						background-image: url('../images/tick.png');
						background-repeat: no-repeat;
						background-position: left center;
						a{
							color: $mau_1;
						}
					}
				}
			}
			.product-detail-social{
				margin-top: 20px;
				.social-box{
					float:left;
					margin-left:5px;
					&:first-child{
						margin-left: 0;
					}
					a{
						color:#666;
						padding:5px 10px;
						background :#f1f1f1;
						text-transform: uppercase;
						position: relative;
						overflow: hidden;
						z-index: 1;
						display: block;
						font-size: 10px;
						@include p-web(transition,all 0.5s);
						&:hover{
							&:before{
								left: 0;
							}
							color: #fff;
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							background: $mau_1;
							z-index: -1;
							@include p-web(transition, all 0.5s);
						}
					}
				}
			}
		}
		.product-detail-gioi-thieu-so-bo{
			color: $mau_1;
			font-size: 20px;
			text-transform: uppercase;
			margin-top: 40px;
			font-family: $f_bold;
			border-bottom: 1px solid $mau_1;
			display: inline-block;
			padding-bottom: 10px;
		}
		.box-product-detail-intro{
			padding: 20px;
			border:1px solid #f3f3f3;
			margin-top: 20px;
			text-align: justify;
		}
	}
	.doreco-product-detail{
		margin-top: 15px;
		border:1px solid #eeeeee;
		padding:10px 20px 10px 20px;
		.main-category{
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			>li{
				position: relative;
				>a{
					display: block;
					padding: 5px 0px;
					font-family: $f_light;
					border-top: 1px solid #eeeeee;
					color: $mau;
				}
				.toggle_r{
					position: absolute;
					top: 5px;
					right: -5px;
					z-index: 2;
					width: 20px;
					height: 25px;
					cursor: pointer;
					font-size:10px;
					outline: none;
					color: #313131;
					background: transparent;
					border: 0;
				}
				&:first-child{
					>a{
						border-top:0;
					}
				}
				>ul{
					list-style: none;
					padding-left: 10px;
					padding-right: 10px;
					margin-bottom: 0;
					display: none;
					>li{
						>a{
							display: block;
							border-top: 1px solid #eeeeee;
							font-family: $f_light;
							font-size: 12px;
							padding: 5px 0px;
							&:before{
								content:"\f105";
								font-family: "Font Awesome 5 Free";
								font-weight: bold;
								margin-right: 5px;
							}
						}
						>button{
							display: none;
						}
					}
				}
			}
		}
	}
	.giam-gia-dac-biet{
		background-color: #f3f3f3;
		font-size: 14px;
		padding: 10px 20px;
		text-transform: uppercase;
		font-family: $f_bold;
		@media(max-width: 1024px){
			font-size: 12px;
		}
		@media(max-width: 992px){
			font-size: 14px;
		}
	}
	.sach-tai-ban-hang-thang-product-detail{
		margin-top: 15px;
	}
	.sach-tai-ban-hang-thang-box{
		border: 1px solid #f3f3f3;
		padding: 20px 20px;
		margin-top: 20px;
		@media(max-width: 1024px){
			padding: 20px 21px;
		}
		.owl-carousel-sach-tai-ban-hang-thang{
			.owl-prev {
				position: absolute;
				right:0px;
				top: -78px;
				color: #999;
				background:transparent;
				@media(max-width: 1024px){
					right: -15px;
				}
				@media(max-width: 992px){
					right: 0;
				}
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right:-25px;
				top: -78px;
				color: #999;
				background:transparent;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.item-sbc{
				margin-bottom: 20px;
				border-bottom: 1px solid #f3f3f3;
				padding-bottom: 20px;
				.a-sbc{
					display: block;
					padding: 5px;
					border: 1px solid #f3f3f3;
				}
				.sbc-title{
					line-height: 15px;
					@media(max-width: 576px){
						margin-top: 10px;
					}
					a{
						font-size: 13px;
						font-family: $f_light;
						color: $mau;
					}
				}
				.ngoi-sao-sp-tt{
					margin-top: 5px;
					span{
						margin-left: 1px;
						color: #fc3;
						font-size: 10px;
						&:first-child{
							margin-left: 0;
						}
					}
				}
				.spbc-price{
					color: $mau_1;
					font-family: $f_bold;
					margin-top: 10px;
				}
				.spbc-price-line-through{
					text-decoration: line-through;
					color: #a2a2a2;
					font-size: 12px;
					margin-top: 10px;
				}
			}
		}
	}

	.box-sach-moi{
		padding-top: 20px;
		.owl-carousel-new-product{
			.owl-prev {
				position: absolute;
				right: 20px;
				top: -58px;
				color: #999;
				background:transparent;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: 0;
				top: -58px;
				color: #999;
				background:transparent;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
}
.footer-box{
	border-left: solid 2px #cccccc;
	border-right: solid 2px #cccccc;
	border-bottom: solid 2px #cccccc;
	padding-top: 40px;
	.footer-wrapper{
		border-top:1px dotted #ccc;
		padding: 40px 55px 50px 55px;
		background-color: #FCF9E9;
		.box-footer-child{
			@media(max-width: 740px){
				margin-bottom: 40px;
			}
			.box-footer-child-title{
				font-size: 15px;
				font-family: $f_bold;
				line-height: 25px;
				@media(max-width: 1024px){
					font-size: 13px;
				}
			}
			.menu-footer{
				list-style: none;
				padding-left: 0;
				margin-top: 5px;
				li{
					a{
						font-size: 14px;
						display: block;
						padding-top: 5px;
						padding-bottom: 5px;
						color: #333;
						&:hover{
							color: $mau_1;
						}
					}
				}
			}
			.company-info{
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 20px;
				list-style: none;
				li{
					.icon-info{
						font-size: 15px;
						width: 37px;
						height: 37px;
						text-align: center;
						line-height: 37px;
						border: 2px solid $mau;
						border-radius: 100%;
						margin-right: 10px;
						color: $mau;
						display: inline-block;
					}
					.company-text-info{
						color: $mau;
						font-family: $f_light;
						font-size: 12px;
					}
					.company-text-info-2{
						a{
							color: $mau;
							font-family: $f_light;
							font-size: 12px;
						}
					}
				}
			}
			.connect-with-us{
				margin-top: 20px;
				border-top: 1px dotted #b3b3b3;
				.conntect-with-us-title{
					font-size: 15px;
					font-family: $f_bold;
					padding-top: 15px;
				}
				.iconsocialbg{
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					margin-top: 10px;
					li{
						display: inline-block;
						a{
							background: #444444;
							display: block;
							text-align: center;
							color: #fff;
							@media(max-width: 1024px){
								margin-top: 5px;
							}
							&:hover{
								background:#428bca;
							}
						}
						&:nth-child(1){
							a{
								padding: 6px 13px;
								border-radius: 16px
							}
						}
						&:nth-child(2){
							a{
								padding: 6px 9px;
								border-radius: 16px
							}
						}
						&:nth-child(3){
							a{
								padding:6px 8px;
								border-radius:20px
							}
						}
						&:nth-child(4){
							a{
								padding: 6px 11px;
								border-radius: 30px;
							}
						}
						&:nth-child(5){
							a{
								padding: 6px 9px;
								border-radius: 20px;
							}
						}
					}
				}
			}
		}
	}
}
.copyright-box{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
