.container-header{
	margin-top: 20px;
	.header-box{
		border-top: solid 2px #ccc;
		border-left: solid 2px #cccccc;
		border-right: solid 2px #cccccc;
		padding: 110px 0px;
		background-image: url(../images/grass.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: relative;
		.box-img-header{
			width: 25%;
			position: absolute;
			top: 60px;
			left: 40px;
			@media(max-width: 992px){
				top: 80px;
			}
			@media(max-width: 740px){
				width: 25%;
				top: 80px;
				left: 10px;
			}
			@media(max-width: 375px){
				width: 100%;
				top: 10px;
				left: 0px;
			}
		}
		.box-search{
			position: absolute;
			right: 40px;
			top: 70px;
			width: 25%;
			@media(max-width: 992px){
				width: 35%;
			}
			@media(max-width: 740px){
				width: 45%;
			}
			@media(max-width: 576px){
				width: 60%;
			}
			@media(max-width: 375px){
				width: 100%;
			}
			@media(max-width: 240px){
				width: 60%;
			}
			.wishlist{
				position: absolute;
				top: 0;
				right: 0;
				@media(max-width: 375px){
					top: 60px;
				}
				@media(max-width: 240px){
					top: 30px;
				}
				.tara-sign-in{
					display: inline-block;
				}
				.cart-header{
					display: inline-block;
					a{
						display: block;
						background: #F5F7F8;
						border: 1px solid #e3e3e3;
						border-radius: 4px;
						padding: 5px;
					}
				}
			}
			.tim-kiem-sp{
				position: absolute;
				width: 100%;
				top: 35px;
				right: 0px;
				@media(max-width: 576px){
					top: 45px;
					width: 80%;
				}
				@media(max-width: 375px){
					top: 95px;
				}
				@media(max-width: 240px){
					display: none;
				}
				.tim-kiem-txt{
					position: absolute;
					top: 5px;
					left: 0;
					width: 100%;
					input{
						outline: 0;
						border: 1px solid #ddd;
						padding: 8px 10px;
						width: 100%;
						font-size: 12px;
						border-radius: 5px;
					}
				}
				.btn-search-product{
					position: absolute;
					right: 0px;
					top: 5px;
					a{
						display: block;
						background-color: #C9E77C;
						padding: 7px 13px;
						border-radius: 0px 5px 5px 0px;
						border-top: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						border-right: 1px solid #ddd;
						overflow: hidden;
						z-index: 1;
						position: relative;
						&:hover{
							&:before{
								left: 0;
							}
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 100%;
							width: 100%;
							height: 100%;
							background: #62B8E2;
							z-index: -1;
							@include p-web(transition, all 0.5s);
						}
					}
				}
			}
		}
	}
	.bradon-box{
		border-left: solid 2px #cccccc;
		border-right: solid 2px #cccccc;
		border-top: 1px solid #000000;
		border-bottom: 1px dotted #000000;
		.ddsmoothmenu{
			@media(max-width: 992px){
				display: none;
			}
		}
		.mobile-navbar{
			display: none;
			@media(max-width: 992px){
				display: block;
			}
			.mobile-menu{
				list-style: none;
				padding: 0 22px;
				li{
					a{
						color: #fff;
						display: block;
						padding: 5px 0px;
					}
				}
			}
		}
	}
}
.calo-box{
	border-left: solid 2px #cccccc;
	border-right: solid 2px #cccccc;
	padding: 0px 55px;
	.slide-home-page{
		margin-top: 15px;
		.owl-carousel-banner{
			.owl-prev {
				position: absolute;
				left: 0px;
				top: 150px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					top:115px;
				}
				@media(max-width: 992px){
					top: 70px;
					left: -25px;
				}
				@media(max-width: 992px){
					top: 75px;
				}
				@media(max-width: 576px){
					top: 45px;
				}
				@media(max-width: 375px){
					top: 35px;
					left: -35px;
				}
				@media(max-width: 320px){
					top: 20px;
				}
				@media(max-width: 240px){
					top: -3px;
					left: -40px;
				}
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: 0px;
				top: 150px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					top:115px;
				}
				@media(max-width: 992px){
					top: 70px;
					right: -25px;
				}
				@media(max-width: 992px){
					top: 75px;
				}
				@media(max-width: 576px){
					top: 45px;
				}
				@media(max-width: 375px){
					top: 35px;
					right: -35px;
				}
				@media(max-width: 320px){
					top: -3px;
					right: -40px;
				}
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
	.nutrifood{
		margin-top: 10px;
		.just-arrived{
			border-bottom: 1px dotted #000;
			padding-bottom: 10px;
			a{
				font-size: 20px;
				color: $mau_1;
				.chevron-right-just-arrived{
					margin-left: 10px;
				}
			}
		}
		.ruby-box{
			margin-top: 10px;
			.spring-fling-1{
				font-size: 12px;
				color: #A0A0A0;
			}
			.spring-fling-2{
				a{
					color: $mau_1;
				}
			}
		}
		.just-arrived-2{
			border-top: 1px dotted #000;
			padding-top: 10px;
			margin-top: 10px;
			a{
				font-size: 15px;
				color: $mau_1;
				.chevron-right-just-arrived{
					margin-left: 10px;
				}
			}
		}
	}
	.product-featured{
		margin-top: 60px;
		.box-big-featured-product{
			position: relative;
			.box-featured-title-wrapper{
				text-align: center;
				width: 100%;
				.box-featured-title{
					font-size: 15px;
					text-transform: uppercase;
					color: #000;
					display: inline-block;
					font-family: $f_bold;
					border-bottom: 3px solid #000;
				}
			}
			.box-featured-product{
				border:1px solid black;
				padding: 30px;
			}
		}
		.owl-carousel-featured-product{
			.owl-prev {
				position: absolute;
				right: 35px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
			.owl-next {
				position: absolute;
				right: -5px;
				top: -58px;
				color: #999;
				background: transparent;
				border: solid 1px #ccc;
				border-radius: 0;
				padding: 5px 10px;
				&:hover{
					background:transparent;
					color: #999;
				}
			}
		}
	}
	.product-category-box{
		margin-top: 30px;
		.product-guilta{
			.product-category-guilta-title{
				text-align: center;
				font-size: 35px;
			}
			.owl-carousel-featured-product-category{
				margin-top: 20px;
				.magento{

				}
				.owl-prev {
					position: absolute;
					left: -35px;
					top: 85px;
					color: #999;
					background: transparent;
					border: solid 1px #ccc;
					border-radius: 0;
					padding: 0px 10px;
					font-size: 30px;
				}
				.owl-next {
					position: absolute;
					right: -35px;
					top: 85px;
					color: #999;
					background: transparent;
					border: solid 1px #ccc;
					border-radius: 0;
					padding: 0px 10px;
					font-size: 30px;
				}
			}
		}
	}
}